html body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Cocon";
  src: url('/fonts/CoconRegularFont.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  align-items: end;
}

.logo { 
  margin-right: auto;
}

.header-progress-bar {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #042847;
  font-family: "Nunito", sans-serif;
  font-size: 13px;
}

.hero-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-text {
  text-align: center;
  width: 460px;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #042847;
  margin-top: -20px;
  margin-bottom: 40px;
  
}

.hero-button {
  background-color: #4BB217;
  color: white;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 4px;
}

.input-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}

.input {
  background-color: #F9F9F9;
  font-family: "Nunito";
  font-size: large;
  color: #959595;
  border: none;
  width: 395px;
  height: 40px;
  border-radius: 4px;
  border: 1.5px solid #EFEFEF ;
}

.sub-hero-headline-text {
  text-align: center;
  width: 460px;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #042847;
}

h1 { 
  font-family: "Cocon", sans-serif;
  font-size: 58px;
  color: #042847;
  text-align: center;
}

h2 { 
  font-family: "Cocon", sans-serif;
  font-size: 28px;
  color: #042847;
  text-align: center;
  width: 60vw;
}

.error {
  background-color: #FFB5B5;
  width: 400px;
  height: 40px;
}

.back-button { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Nunito";
  font-size: large;
  color: #959595;
  border: none;
  width: 395px;
  height: 40px;
  border-radius: 4px;
  border: 1.5px solid #797979 ;
}

.back-button a{
  font-family: 'Nunito';
  font-style: normal;
  text-decoration: none;
}

.subhero {
  background-color: #F6FBFB;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.subhero-heading-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.box-container { 
  display: flex;
  justify-content: center;
  gap: 20px;

}

.box {
  border-radius: 10px;
  border: 1.5px solid #ddf0ff ;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 240px;
  width: 100%;
  padding: 10px;
}

.box h3{
  font-family: "Cocon", sans-serif;
  font-size: large;
  color: #042847;
}

.box p{
  font-family: "Nunito";
  font-size: 14px;
  color: #042847;
}
.one {
  background-color: white;
  
}
.two {
  background-color: #D3F4FC;
}

.three {
  background-color: #F3FCD3;
}

.macros-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.macros-box {
  max-width: 250px;
  padding: 6px;
  border-radius: 10px;
  border: 1.5px solid #95D277;
  text-align: center;
  width: 100%;
  background-color: white;
}

.macros-box:hover {
  background-color: #F2F7D6;
  font-size: larger;
}

.macros-box:hover .macro-percent {
  font-weight: 600;
}

.macros-box:hover h3{
  font-size: 31px;
}

.macros-box h3{
  font-family: 'Nunito';
  font-size: 26px;
  color: #042847;
}

.macros-box p{
  font-family: 'Nunito';
  font-size: 15px;
  width: 100%;
  color: #042847;
}

.macro-percent  {
  font-family: 'Nunito';
  font-weight: 300;
  font-size: 24px !important;
  width: 100% !important;
  color: #1B87E7 !important;
}

/*◟◅◸◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◞ */

.meals-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 20px;
}

.meal-box {
  width: calc(43% - 200px);
  min-width: 486px;  
}

.blank-meal-box {
  width: calc(43% - 200px);
  min-width: 486px;  
}

.meal-top {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #F2F7D6;  
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.meal-top h2{
  margin: 0;
  text-align: left;
  font-size: 42px;
  margin-left: 10px;
}

img { 
  padding: 10px;
}

.trash-icon-button {
  background-color: #F2F7D6;
  border: none;
  cursor: pointer;
  width: 50px;
}

.edit-icon-button {
  background-color: green;
  border: none;
  cursor: pointer;
  width: 0px;
}

.meal-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.meal-sections {
  padding-top: 6px;
}

.meal-sections h4{
  margin: 0;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  color: #042847;
  font-weight: 700;
}

.meal-sections p{
  font-family: 'Nunito';
  font-style: italic;
  color: #042847;
}

hr { 
  width: 600px;
  border: none;
  height: 1px;
  background-color: #E7E7E7;
}

.meal-btn-container {
  font-family: 'Nunito';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:end;
  gap: 30px;
  width: 67%;
  
}

.meal-btn-container button{
  background-color: #4BB217;
  align-items: center;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 4px;
}

.meal-btn-container--single-meal {
  justify-content:center;
}

.meals-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  border: 1.5px solid #EFEFEF ;
}

.meals-back-button a{
  text-decoration: none;
  color: grey;
}
/* ◟◅◸◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◞*/

@media (max-width: 1070px) {
  .meals-container {
    flex-direction: column;
    align-items: center;
    gap: 65px;
    
  }
}

@media (max-width: 1070px) {
  .meals-buttons-container {
    width: 58%; 
  }
}

@media (max-width: 1070px) {
  .meal-box {
    max-width: 560px;
  }
}

@media (max-width: 1070px) {
  .blank-meal-box {
    min-width: 486px;  
    background-color: #4BB217;
    }
  }

@media (max-width: 1070px) {
  .meal-top {
    height: 90px;
  }
}