<section class="hero-content-container">
  <h1> Tailored Meal Planner</h1>
    <p class="hero-text">We get it, losing weight is hard work. Were here to make it a little easier for you. Enter your info, and well send you a Free Custom Weight Loss Meal Plan.
    </p>
    <br>

    <div class="meals-container">
    <div class="meal-box meal-box--single">
      <div class="meal-top meal-top--single">
        <h2>Meal <%= @meal_id %> </h2> 
        <div class="meal-sections meal-sections--single">
          <h4>Calories</h4>
          <h4>Protein</h4>
          <h4>Carbohydrate</h4>
          <h4>Fat</h4>
        </div>
      </div>
        <div class="meal-values-container"> 
          
          
        </div>
      </div>
    </div>
  </div>
  <div class="meal-btn-container meal-btn-container--single-meal">
    <div class="meals-back-button">
      <a href="/build-meal-plan">Go Back</a>
    </div>
    <button href="" type="submit" class="meals-button">Get Totals</button>
  </div>
</section>