<div class="hero-container">
  <div class="hero-content-container">
    <h1> Tailored Meal Planner</h1>
    <p class="hero-text">We get it, losing weight is hard work. Were here to make it a little easier for you. Enter your
      info, and well send you a Free Custom Weight Loss Meal Plan.
    </p>
      <form action="/enter-calories" method="post"   class="input-and-button-container">
        <input type="text" placeholder="Enter your calories" name="calories" class="input">
          <button type="submit" class="hero-button">Next</button>
      </form>
  </div>
</div>