<!DOCTYPE html>
<html lang="eng">
    <head>
    <title>Tailored Meal Planner</title>
    <link rel="stylesheet" href="/stylesheet/meal_planner.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
      <header class="header"> 
        <div class="logo"><a href="/">Logo Goes here</a></div>
        <% unless env["REQUEST_PATH"] == "/" %>
        <div class="header-progress-bar">
          <p>1. Calories</p><p>2. Meal Count</p><p>3. Macros</p><p>4. Meals</p><p>5. Total</p>
        </div>
      <% end %>
      </header>
       <%= yield %>
    </body>
</html>
