<!DOCTYPE html>
<html lang="eng">
    <head>
    <title>Tailored Meal Planner</title>
    <link rel="stylesheet" href="/stylesheet/meal_planner.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
      <header class="header"> Logo Goes here</header>
      <div class="hero-container">
        <div class="hero-content-container">
          <h1> Tailored Meal Planner</h1>
          <p class="hero-text" >We get it, losing weight is hard work. Were here to make it a little easier for you. Enter your info, and well send you a Free Custom Weight Loss Meal Plan.
          </p>
          <a href="enter calories">
            <button type="submit" class="main-button" >Go Next</button>
          </a>
        </div>
      </div>

      <div class="subhero">
          <%= yield %>
      </div>
    </body>
</html>
