<!DOCTYPE html>
<html lang="eng">
    <head>
    <title>Tailored Meal Planner</title>
    </head>
    <body>
        <header></header>

        <h1> Tailored Meal Planner</h1>
        <p>We get it, losing weight is hard work. Were here to make it a little easier for you. Enter your info, and well send you a Free Custom Weight Loss Meal Plan.
        </p>
        <form action="setcalories"><button type="submit" >Go Next</button></form>
        <div>
            <%= yield %>
        </div>

    </body>
</html>