<section class="hero-content-container">
  <h1>Choose your macros</h1>
  <p class="hero-text">We get it, losing weight is hard work. Were here 
    info, and well send you a Free Custom Weight Loss Meal Plan
  </p>
  <div class="macros-container">
      <% MACRO_PRESET.each do |type, percent| %>
    <form action="/choose-macros" method="post">
      <input type="hidden" name="macros" value="<%= percent.join(',') %>">
      <% protein, carbs, fat =  percent[0], percent[1], percent[2] %>
      <button class="macros-box">
      <h3><%= type.to_s.split('_').join(' ') %></h3>
      <p class="macro-percent"> <%= "#{protein} / #{carbs} / #{fat}" %></p>
      <p>We get it, losing weight is hard work. Were here to make it a  little easier for you.</p>
      </button>
    </form>
  <% end %>
  </div>
  <div class="back-button">
    <a href="/enter-meals">Go Back</a>
  </div>
</section>

