<section class="hero-content-container">
  <h1>Choose your macros</h1>
  <p class="hero-text">We get it, losing weight is hard work. Were here 
    info, and well send you a Free Custom Weight Loss Meal Plan
  </p>
  <div class="macros-container">
    <div class="macros-box">
      <h3>Strength</h3>
      <p class="macro-percent">40 / 30 / 30</p>
      <p>We get it, losing weight is hard work. Were here to make it a little easier for you.</p>
    </div>
    <div class="macros-box">
      <h3>Weight Loss</h3>
      <p class="macro-percent">50 / 25 / 25</p>
      <p>We get it, losing weight is hard work. Were here to make it a little easier for you.</p>
    </div>
    <div class="macros-box">
      <h3>Endurance</h3>
      <p class="macro-percent">20 / 50 / 30</p>
      <p>We get it, losing weight is hard work. Were here to make it a little easier for you.</p>
    </div>
  </div>
</section>

