<div class="subhero-heading-container">
<h2>Tailored Meals and a Proven Plan to help you reach your fitness goals</h2>
<p class="sub-hero-headline-text">We get it, losing weight is hard work. Were here to make it a little easier for you. Enter your info, and well send you a Free Custom Weight Loss Meal Plan.</p>
</div>
<div class="box-container">
  <div class="box one">
    <h3>Enter Your Info</h3>
    <p>All recipes comes with a shopping list that tells you what ingredients to buy and where to get them. </p>
  </div>
  <div class="box two">
    <h3>Build Your Meal Plan</h3>
    <p>Food does not have to taste awful, your plan will be customized based on your food preference, so you are more likely to stick to it!</p>
  </div>
  <div class="box three">
    <h3>Track Your Progress</h3>
    <p>Macros are included in each recipe so there'+ no need to worry about your numbers</p>
  </div>
</div>